hr {
    border: none;
    border-top:2px dashed red;
}

a {
    font-weight: bold;
    width:100px;
    line-height: 40px;
    height: 40px;
    border:1px solid black;
    border-radius: 6px;
    display:block;
    text-align: center;
}

a:hover{
    background: orange;
}

h2 {
    padding-bottom:1000px;
}

kbd {
    padding:0 3px;
    border-radius: 3px;
    border-top:2px solid rgb(240,240,240);
    border-bottom:2px solid rgb(205,205,205);
    border-left:2px solid rgb(240,240,240);
    border-right:2px solid rgb(240,240,240);
}

table{
    border-collapse: collapse;
}

td{
    border:1px solid red;
    padding:10px;
}

th{
    border:1px solid red;
    padding:10px;
    background-color: lightgray;
}